<app-layout-big-card>
  <div *ngIf="userLogged && curso" class="float-botonera">
    <app-round-button [config]="editRoundButtonConfig" (roundButtonClicked)="showEditModal()"></app-round-button>
    <app-round-button [config]="deleteRoundButtonConfig" (roundButtonClicked)="deleteCurso()"></app-round-button>
  </div>
  <div *ngIf="curso" class="info-container">
    <div class="dr-like-title dr-font">{{ curso.nombre }}</div>
    <div class="img-container">
      <img [src]="curso && curso.imagen ? curso.imagen : logosUrls[curso.categoria]" />
    </div>
    <div [innerHTML]="curso.descripcion"></div>
  </div>
  <app-rounded-button [config]="buttonCancelConfig" (click)="goBack()"></app-rounded-button>
</app-layout-big-card>