<app-layout-big-card>
  <app-round-button *ngIf="userLogged && curso" [config]="editRoundButtonConfig" (roundButtonClicked)="showEditModal()"></app-round-button>
  <app-round-button *ngIf="userLogged && curso" [config]="deleteRoundButtonConfig" (roundButtonClicked)="deleteCurso()"></app-round-button>
  <div *ngIf="curso" class="info-container">
    <div class="dr-like-title dr-font">{{ curso.nombre }}</div>
    <div class="img-container">
      <img [src]="curso && curso.imagen ? curso.imagen : logosUrls[curso.categoria]" />
    </div>
    <div [innerHTML]="curso.descripcion"></div>
  </div>
</app-layout-big-card>