.loading-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    .loading-img {
        width: 50px;
    }

    p {
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        animation:
            typing 2s infinite,
            blink-caret .75s step-end infinite;
    }

}
