.round-button{
    font-size: 30px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 6px;
    box-shadow: 2px 2px grey;
    position: fixed;
    z-index: 99;
}

.right-float-button{
    position: fixed;
    left: calc(100% - 70px);
    top: 129px;
}

.left-float-button{
    position: fixed;
    left: 10px;
    top: 129px;
}

.second-button{
    top: 190px;
}

.small-botonera-button{
    position: inherit !important;
    display: inline-flex;
    font-size: 20px;
    padding: 10px;
    border: 1px solid gray;
}

.small-left-btn{
    border-radius: 50% 0 0 50%;
}

.small-right-btn {
    border-radius: 0 50% 50% 0;
}

@media screen and (max-width: 1050px) {
    .right-float-button{
        top: 160px;
    }

    .second-button{
        top: 221px;
    }
}

@media screen and (max-width: 515px) {
    .header-container {
        .rs-container{
            bottom: 10px;
        }
    }
}