.round-button{
    font-size: 30px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 6px;
    box-shadow: 2px 2px grey;
    position: relative;
}

.small-botonera-button{
    position: inherit !important;
    display: inline-flex;
    font-size: 20px;
    padding: 10px;
    border: 1px solid gray;
}

.small-left-btn{
    border-radius: 50% 0 0 50%;
}

.small-right-btn {
    border-radius: 0 50% 50% 0;
}

.round-button-img{
    width: 60%;
    left: calc(50% - (24px/2));
    position: absolute;
    top: calc(50% - (28px/2));
}


@media screen and (max-width: 515px) {
    .header-container {
        .rs-container{
            bottom: 10px;
        }
    }
}