<div *ngIf="premio" class="premio-card">
  <div class="premio-card-info">
    <div class="cupon-number-label">Nº: {{ premio.numeroCupon }}</div>
    <div class="alumno-favorecido">{{ premio.nombreFavorecido }}</div>
    <div class="mes-label">{{ premio.mes | meses }}</div>
    <div class="alumno-retiro">Retiró: {{ premio.nombreRetiro }}</div>
    <div class="horario-label">Horario: {{ premio.horarioExtraccion }}hs</div>
  </div>
  <img *ngIf="showPC" class="pc-winner" src="assets/images/PC-Escritorio.png">
  <div class="ganaste-label">¡¡ Ganaste !!</div>
  <app-small-botonera *ngIf="showBotonera" class="premio-card-botonera" (leftButtonClicked)="openEditModal()" (rightButtonClicked)="openDeleteModal()"></app-small-botonera>
</div>