<div class="premio-card">
  <div class="premio-card-info">
    <div class="cupon-number-label">Nº: 1234</div>
    <div class="alumno-favorecido">Favorecido, alumno</div>
    <div class="mes-label">Enero</div>
    <div class="alumno-retiro">Retiró: Extractor, alumno</div>
    <div class="horario-label">Horario: 21.45hs</div>
  </div>
  <img *ngIf="showPC" class="pc-winner" src="assets/images/PC-Escritorio.png">
  <div class="ganaste-label">¡¡ Ganaste !!</div>
  <app-small-botonera *ngIf="showBotonera" class="premio-card-botonera" (leftButtonClicked)="openEditModal()" (rightButtonClicked)="openDeleteModal()"></app-small-botonera>
</div>