.login-container {
    display: flex;
    justify-content: space-between;

    .login-logoDr {
        width: 150px;
    }

    .login-form {
        width: calc(50vw - 380px);
    }

    .login-logoDrKids {
        width: 150px;
    }
}

@media screen and (max-width: 950px) {
    .login-container {
        .login-form {
            width: calc(80vw - 380px);
        }
    }
}

@media screen and (max-width: 765px) {
    .login-container {
        .login-logoDr,
        .login-logoDrKids {
            display: none;
        }

        .login-form {
            width: 100%;
        }
    }
}