.upf-container {
    color: black;
    margin-bottom: 25px;
   
    .input-field {
        width: 100%;
        border: 0;
        border-bottom: 1px solid gray;
        margin-bottom: 2px;
        outline: none;
    }

    .error-input {
        font-size: 12px;
        color: #FF0000;
    }
}