.premios-header-container {
    background: linear-gradient(0deg, red, orange, rgba(255, 211, 144, 0.831372549), orange, red);
    padding: 10px;
    border-radius: 15px;
    border: 1px solid gray;
    box-shadow: 0 0 1px 1px grey;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.premios-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-logos {
        height: 14vh;
    }

    .premios-title {
        font-size: 35px;
        text-align: center;
    }
}

.premios-subtitle {
    font-size: 18px;
}

.premio-cuota-container {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 15px));
    margin: 20px 0 15px;
    column-gap: 20px;
    row-gap: 20px;
}

.nada-aqui-template {
    text-align: center;

    .binoculars-icon {
        width: 250px;
        animation: binoculars-lookup 2s infinite ease-out ;
    }
}

@media screen and (max-width: 1450px) {
    .premio-cuota-container {
        grid-template-columns: repeat(2, calc(50% - 10px));
    }
}

@media screen and (max-width: 740px) {
    .premio-cuota-container {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 450px) {
    .header-logos {
        display: none;
    }
}

.premio-pc-container {
    margin: 20px 0 15px;

    ::ng-deep .premio-card {
        .ganaste-label {
            font-size: 30px;
            transform: translateY(4%) rotate(45deg) !important;
            top: 50px !important;
        }
    }
}

@keyframes binoculars-lookup {
    0%{
        transform: skew(-17deg, 7deg);
    }
    50%{
        transform: skew(17deg, -7deg);
    }
    100%{
        transform: skew(-17deg, 7deg);
    }
}