<app-layout-big-card [title]="titlePage">
    <div *ngIf="userLogged" class="float-botonera">
        <app-round-button [config]="roundButtonConfig" (roundButtonClicked)="showCreateModal()"></app-round-button>
        <app-round-button [config]="excelButtonConfig" (roundButtonClicked)="showExcelModal()"></app-round-button>
        <app-round-button [config]="checkAllRoundButtonConfig" (roundButtonClicked)="checkAllPremios()"></app-round-button>
        <app-round-button [config]="deleteAllRoundButtonConfig" (roundButtonClicked)="deleteAllPremios()"></app-round-button>
    </div>
    <div class="premios-header-container premios-header">
        <img alt="logoDR" class="header-logos" src="assets/images/logos/logoDR.png">
        <span class="dr-font premios-title">¡¡Nuestros ganadores!!</span>
        <img alt="logoDRKids" class="header-logos" src="assets/images/logos/logoDRKids.png">
    </div>

    <app-select-dr [config]="yearConfig" [form]="premiosForm" [list]="years"></app-select-dr>
    <div *ngIf="premiosCuotas && premiosCuotas.length > 0" class="premios-header-container premios-subtitle dr-font">
        Estas personas ganaron una cuota</div>
    <div *ngIf="premiosCuotas && premiosCuotas.length > 0 else nadaAqui" class="premio-cuota-container">
        <app-premio-card
            *ngFor="let premio of premiosCuotas"
            [premio]="premio"
            [showBotonera]="userLogged"
            (premioChecked)="addToCheckedList($event)"
            [isChecked]="premiosChecked && premiosChecked.length > 0 && premiosChecked.includes(premio.id)">
        </app-premio-card>
    </div>
    <div *ngIf="premioComputadora" class="premios-header-container premios-subtitle dr-font">Y esta persona se ganó una
        compu</div>
    <div *ngIf="premioComputadora" class="premio-pc-container">
        <app-premio-card
            [premio]="premioComputadora"
            [showPC]="true"
            [showBotonera]="userLogged"
            (premioChecked)="addToCheckedList($event)"
            [isChecked]="premiosChecked && premiosChecked.length > 0 && premiosChecked.includes(premioComputadora.id)"></app-premio-card>
    </div>
    <div *ngIf="premiosConsuelo && premiosConsuelo.length > 0"
        class="premios-header-container premios-subtitle dr-font">...Y hubo más premios</div>
    <div *ngIf="premiosConsuelo && premiosConsuelo.length > 0" class="premio-cuota-container">
        <app-premio-card
            *ngFor="let premioConsuelo of premiosConsuelo"
            [premio]="premioConsuelo"
            [showBotonera]="userLogged"
            (premioChecked)="addToCheckedList($event)"
            [isChecked]="premiosChecked && premiosChecked.length > 0 && premiosChecked.includes(premioConsuelo.id)"></app-premio-card>
    </div>

    <ng-template #nadaAqui>
        <div class="nada-aqui-template">
            <img class="binoculars-icon" src="assets/images/icons/binoculars-icon.svg" />
            <div>Mmm... parece que no hay nada que mostrar aquí</div>
        </div>
    </ng-template>
</app-layout-big-card>