<app-layout-big-card [title]="titlePage">
    <app-round-button *ngIf="userLogged" [config]="roundButtonConfig" (roundButtonClicked)="showCreateModal()"></app-round-button>
    <app-round-button *ngIf="userLogged" [config]="excelButtonConfig" (roundButtonClicked)="showExcelModal()"></app-round-button>
    <div class="premios-header-container premios-header">
        <img alt="logoDR" class="header-logos" src="assets/images/logos/logoDR.png">
        <span class="dr-font premios-title">¡¡Nuestros ganadores!!</span>
        <img alt="logoDRKids" class="header-logos" src="assets/images/logos/logoDRKids.png">
    </div>

    <div class="premios-header-container premios-subtitle dr-font">Estas personas ganaron una cuota</div>
    <app-select-dr [config]="yearConfig" [form]="premiosForm" [list]="years"></app-select-dr>
    <div class="premio-cuota-container">
        <app-premio-card *ngFor="let premio of premiosCuotas" [premio]="premio" [showBotonera]="userLogged"></app-premio-card>
      </div>
    <div class="premios-header-container premios-subtitle dr-font">Y esta persona se ganó una compu</div>
    <div class="premio-pc-container">
        <app-premio-card [premio]="premioComputadora" [showPC]="true" [showBotonera]="userLogged"></app-premio-card>
    </div>
</app-layout-big-card>