.header-container {
    background: linear-gradient(90deg, #f29c07, #e69d77);
    padding: 10px 10px 0;

    .header-logo {
        height: 100px;
    }

    .name-dr {
        width: max-content;
        margin: 0;
        position: absolute;
        top: 10px;
        left: 90px;
    }

    .rs-container{
        position: absolute;
        top: 10px;
        right: 20px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        font-size: 20px;

        .rs-label{
            margin: 0 5px;
        }

        .rs-logo {
            width: 25px;
            margin: 0 5px;
            cursor: pointer;
        }
    }
}

.header-container-kids {
    background: linear-gradient(90deg, #ff8000, #44ff17);
}

@media screen and (max-width: 962px) {
    .header-container {
        padding: 10px;
    }
}

@media screen and (max-width: 515px) {
    .header-container {
        .rs-container{
            bottom: 10px;
        }
    }
}