.login-form {
    width: calc(50vw - 380px);
}


@media screen and (max-width: 950px) {
    .login-form {
        width: calc(80vw - 380px);
    }
}

@media screen and (max-width: 765px) {
    .login-form {
        width: 100%;
    }
}