.push-button {
    text-align: center;
    cursor: pointer;
    height: 100%;

    .push-button-container {
        padding: 20px;
        border: 1px solid gray;
        border-radius: 30px;
        margin-bottom: 10px;
        box-shadow: 4px 4px 7px grey;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .item-checkbox{
            align-self: end;
        }
        img {
            max-width: 100px;
            min-width: 100px;
        }
    }
}

@media screen and (max-width: 591px) {
    .push-button {
        .item-checkbox{
            align-self: center;
        }
        .push-button-container {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}