.push-button {
    text-align: center;
    cursor: pointer;
    .push-button-container {
        padding: 20px;
        border: 1px solid gray;
        border-radius: 30px;
        margin-bottom: 10px;
        box-shadow: 4px 4px 7px grey;
        img {
            max-height: 100px;
            min-height: 100px;
        }
    }
}