.pbkeypad-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: max-content;
  padding: 20px;
  grid-gap: 20px;
}

@media screen and (max-width: 760px) {
  .pbkeypad-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 591px) {
  .pbkeypad-container {
    grid-template-columns: repeat(1, 1fr);
  }
}