<form *ngIf="premioForm" class="curso-form-container" [formGroup]="premioForm" (ngSubmit)="closeForm(true)">
    
  <!-- A Ñ O -->
  <app-select-dr [config]="yearConfig" [form]="premioForm" [list]="yearsList"></app-select-dr>

  <!-- M E S -->
  <app-select-dr [config]="mesConfig" [form]="premioForm" [list]="mesesList"></app-select-dr>

  <!-- N U M E R O   C U P O N -->
  <app-input-dr [config]="numeroCuponConfig" [form]="premioForm"></app-input-dr>

   <!-- N O M B R E   F A V O R E C I D O -->
   <app-input-dr [config]="nombreFavorecidoConfig" [form]="premioForm"></app-input-dr>

   <!-- N O M B R E   R E T I R O -->
   <app-input-dr [config]="nombreRetiroConfig" [form]="premioForm"></app-input-dr>

   <!-- H O R A R I O   E X T R A C C I O N -->
   <app-input-dr [config]="horarioExtraccionConfig" [form]="premioForm"></app-input-dr>

   <!-- L I N K   N O T I C I A -->
   <app-input-dr [config]="linkNoticiaConfig" [form]="premioForm"></app-input-dr>

   <!-- T I P O   S O R T E O -->
   <app-select-dr [config]="tipoSorteoConfig" [form]="premioForm" [list]="tipoSorteoList"></app-select-dr>

  <!-- I M A G E N -->
  <app-input-dr *ngIf="tipoSorteoSelected == 'COMPUTADORA'" [config]="imagenUrlConfig" [form]="premioForm"></app-input-dr>
    
  <!-- P R E M I O   C O N S U E L O -->
  <app-input-dr *ngIf="tipoSorteoSelected == 'CONSUELO'" [config]="premioConsueloConfig" [form]="premioForm"></app-input-dr>


  <div class="botonera">
    <app-rounded-button [config]="buttonCancelConfig" (click)="closeForm(false)"></app-rounded-button>
    <app-rounded-button class="save-btn" [config]="buttonSendConfig" [disableButton]="!premioForm.valid"></app-rounded-button>
  </div>
</form>