<app-layout-big-card>
  <div class="dr-like-title">Promociones y beneficios que te brinda <div class="dr-font">
      <div class="dr dr-font">DR</div> Computers
    </div>
  </div>

  <div class="promociones-text">
    <div class="promociones-paragraph">
      - No pagás inscripción ni exámenes.<br><br>
      - Todos los meses participás del sorteo de una cuota.<br><br>
      - Con el pago de la primer cuota te llevás una remera del Instituto de regalo.<br><br>
      - En la primer clase, te obsequiamos una carpeta y una birome del Instituto.<br><br>
      - A los alumnos de DR Kids le regalamos una mochila.<br><br>
      - Descuento a ex alumnos y grupo familiar.<br><br>
      - A fin de año partcipás del sorteo de una computadora.<br><br>
    </div>
  </div>
</app-layout-big-card>