.promociones-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

    .dr-font {
        display: inline;
    }
}

.promociones-text {
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
}