.upf-container {
    color: black;
    margin-bottom: 25px;

    .icon-prefix {
        display: inline-flex;
    }

    .input-field {
        width: 100%;
        border: 0;
        border-bottom: 1px solid gray;
        margin-bottom: 2px;
        outline: none;
    }

    .input-field-with-sufix,
    .input-field-with-prefix {
        display: inline-flex;
        width: 97%;
    }

    .input-field-with-both {
        display: inline-flex;
        width: 94%;
    }
    
    .error-input {
        font-size: 12px;
        color: #FF0000;
    }
}

.input-last-field{
    margin-bottom: 0;
}