<form *ngIf="config && form"
  class="upf-container"
  [formGroup]="form">
  <ion-icon *ngIf="config && config.prefixIcon" class="icon-prefix" [name]="config.prefixIcon" (click)="prefixIconClicked.emit(true)"></ion-icon>
    <input *ngIf="config && config.label"
      class="input-field input-field-with-prefix"
      [ngClass]="{input-field-with-prefix: icon && icon == 'PREFIX'; input-field-with-sufix: icon && icon == 'SUFFIX'; input-field-with-both: icon && icon == 'BOTH'}"
      [type]="config.type"
      [formControlName]="config.formControlName"
      [readonly]="config.readOnly"
      [placeholder]="config.label" />
    <div
      *ngIf="config && (field.invalid && field.dirty || field.touched)"
      class="error-input">{{getErrorMessage()}}</div>
</form>