<form *ngIf="config && form"
  class="upf-container"
  [formGroup]="form">
    <select
      *ngIf="config && config.label"
      class="input-field"
      [formControlName]="config.formControlName"
      >
      <option value="">Seleccione una opción</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <div
      *ngIf="config && field && (field.invalid && field.dirty || field.touched)"
      class="error-input">{{getErrorMessage()}}</div>
</form>