<form *ngIf="config && form && list.length > 0"
  class="upf-container"
  [formGroup]="form">
    <select
      *ngIf="config && config.label"
      class="input-field"
      [formControlName]="config.formControlName"
    >
      <option *ngFor="let option of list" [value]="option.value" [disabled]="option.value == ''">{{ option.label }}</option>
    </select>
    <div
      *ngIf="config && field && (field.invalid && field.dirty || field.touched)"
      class="error-input">{{getErrorMessage()}}</div>
</form>