<app-layout-big-card>
  <div class="dr-like-title dr-font">
    <div class="dr dr-font">DR</div> Computers
  </div>
  <div class=" paragraph">Es un Instituto de Computación donde se dictan cursos de informática en forma presencial
    para todas las edades.<br>Desde el año 1997, <div class="dr dr-small dr-font">DR</div>
    <div class="computer computer-small dr-font"> Computers</div> ha evolucionado con el transcurso del tiempo. Es por
    eso que hoy
    los invita a recorrer esta página donde encontrara información útil de acuerdo a sus necesidades.
  </div>
  <div class="about-us-subtitle">Infraestructura</div>

  <!-- sala 1 -->
  <div class="sala-1">
    <img class="sala-1-img" src="assets/images/sala1.jpg">
    <div class="sala-1-text">
      <div class="dr">Sala 1</div>
      <div class="sala-1-description">, asignada para adultos, ubicada en planta baja, equipada con 12 equipos con
        multimedia, todos conectados en red en la que se puede intercambiar información e imprimir desde cualquiera
        de ellos.</div>
    </div>
  </div>

  <!-- SALA 2 -->
  <div class="sala-2">
    <div class="sala-2-text">
      <div class="dr">Sala 2</div>
      <div class="sala-2-description">, asignada para chicos ubicada en planta alta, equipada con 12 equipos con
        multimedia la que se utiliza permanentemente por el tipo de Soft educativo utilizado para chicos. Todas las
        PCs están conectadas en red, mediante la cual se puede intercambiar información entre ellas y ejecutar
        cualquiera de los juegos educativos que se encuentran instalados en las distintas PCs. Además todos los
        equipos tienen Banda ancha permanente y auriculares, para que no se mezclen los sonidos cuando son
        ejecutados los juegos educativos a destiempo con otras maquinas y así de esta manera no perder la
        concentración de cada alumno. </div>
    </div>
    <img alt="Sala 2" class="sala-2-img" src="assets/images/sala.jpg">
  </div>

  <!-- PROFESORES -->
  <div class="profesores">
    <img alt="Sala 1" class="profesores-img" src="assets/images/teacher.png">
    <div class="profesores-text">
      <div class="dr">Profesores</div>
      <div class="profesores-description">, este Instituto tiene profesores específicos para cada programa que se
        dicta en el curso.</div>
    </div>
  </div>

  <!-- RECOMENDACIONES -->
  <div class="about-us-subtitle">Recomendación</div>
  <div class="recomendacion">
    <div class="recomendacion-text">
      <div class="dr dr-small dr-font">DR</div>
      <div class="computer computer-small dr-font"> Computers</div>
      <div class="recomendacion-description"> recomienda, basado en las estadísticas, la necesidad de adquirir
        conocimientos sobre informática. Ya que en otros momentos quienes se capacitaban y estudiaban computación
        eran sólo quienes lo creían necesario por el trabajo o su organización personal. Pero en los tiempos que
        estamos viviendo todos los trabajos exigen mínimamente el manejo de alguna máquina, además que en lo
        cotidiano la tecnología nos lleva a su utilización a diario con la creciente evolución de los artefactos de
        manejo casero (celulares, cajeros automáticos, electrodomésticos etc.). Además cabe destacar que no solo en
        el plano laboral han incrementado las exigencias de manejo de máquinas, sino que en lo personal es más que
        positivo en cualquier ámbito, la organización por medio de la computadora. Los Software evolucionan, el
        tiempo nos deja atrás, nuevas puertas se abren y nos ponen en contacto directo con cualquier parte del
        mundo, acortando las distancias, no nos cerremos a esto, abramos nuestra mente al progreso e incorporémonos
        al competitivo mercado laboral de hoy que nos exige estar actualizado en todas las alternativas que la
        computación ofrece.</div>
    </div>
    <img alt="recomendacion" class="recomendacion-img" src="assets/images/recommendation.png">
  </div>

  <!-- INFORMACION DE CONTACTO -->
  <div class="about-us-subtitle">Información de contacto</div>
  <div class="informacion-contacto">
    <div class="informacion-text">
      <div class="info-title">Ubicación:</div>
      <div><span class="info-item">Dirección</span>: Chacabuco 10</div>
      <div><span class="info-item">Teléfono</span>: {{ telefono }}</div>
      <div>Concepción del Uruguay - Entre Ríos - CP: E3260GEB</div>
      <div><span class="info-item">Correo electrónico</span>: {{ institutoEmail }}</div>
      <div class="info-title" style="margin-top: 20px;">Horario de inscripción:</div>
      <div style="margin-bottom: 20px;">Lunes a Viernes de 15:00 a 21:00 hs.</div>
      <div><span class="info-item">Horarios de los cursos</span>: Estos horarios se van organizando según las
        necesidades de los alumnos.</div>
      <div>Disponemos de variantes de horarios comenzando a las 14:00 hasta 23:00 hs.</div>
    </div>
    <img class="recomendacion-img" src="assets/images/camioneta.jpg">
  </div>
</app-layout-big-card>