.modal-delete-messages-container{
    .modal-delete-messages-icon{
        width: 100%;
        margin-bottom: 16px;
        text-align: center;
        height: 75px;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .modal-delete-messages-title{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 16px;
        text-align: center;
    }

    .modal-delete-messages-description{
        margin-bottom: 24px;
    }

    .botonera-one-button{
        grid-template-columns: repeat(3, 1fr);
        .close-btn{
            grid-column: 2;
        }
    }
}