<app-layout-big-card>
  <div class="dr-like-title dr-font">
    <div class="dr dr-font">DR</div> Kids
  </div>
  <div class="dr-computers-paragraph">Los alumnos de <div class="dr dr-small dr-font">DR</div>
    <div class="computer computer-small dr-font"> Computers</div> tienen la posibilidad de hacer el curso acorde a sus
    necesidades.<br><br>Disponemos de cursos que enseñan a utilizar el manejo de computadoras y programas que están
    destinados a personas sin conocimientos, comenzando desde las primeras teclas hasta dominar los Soft más
    utilizados.<br><br>Para los alumnos que ya tienen el conocimiento de los programas básicos, pueden elegir el
    curso donde se dicta específicamente el programa adecuado a sus necesidades.<br><br>Todos los cursos de <div
      class="dr dr-small dr-font">DR</div>
    <div class="computer computer-small dr-font"> Computers</div> tienen una corta duración, de esa manera el alumno
    obtiene el
    conocimiento necesario para el manejo del programa estudiado, obteniendo su primer titulo del curso
    realizado.<br><br>Los programas muy extensos tienen un segundo nivel para aquellos que deseen un mejor
    perfeccionamiento en él y de esa manera obtener un segundo titulo.<br><br>
  </div>
  <app-push-button-keypad [items]="cursosKids"></app-push-button-keypad>
</app-layout-big-card>