<app-layout-big-card>
    <app-round-button *ngIf="userLogged" class="right-float-button" [config]="roundButtonConfig" (roundButtonClicked)="showCreateModal()"></app-round-button>
    <div class="dr-like-title dr-font">Novedades</div>
    <div *ngIf="novedadesList && novedadesList.length>0 else noInfoToShow">
        <app-novedad-card *ngFor="let novedad of novedadesList" [showBotonera]="userLogged"></app-novedad-card>
    </div>
    <ng-template #noInfoToShow>
        <div no-info-to-show>No se encontraron novedades para mostrar</div>
    </ng-template>
</app-layout-big-card>