<app-layout-big-card>
  <div *ngIf="userLogged" class="float-botonera">
    <app-round-button [config]="roundButtonConfig" (roundButtonClicked)="showCreateModal()"></app-round-button>
    <app-round-button [config]="excelButtonConfig" (roundButtonClicked)="showExcelModal()"></app-round-button>
    <app-round-button [config]="checkAllRoundButtonConfig" (roundButtonClicked)="checkAllCursos()"></app-round-button>
    <app-round-button [config]="deleteAllRoundButtonConfig" (roundButtonClicked)="deleteAllCursos()"></app-round-button>
  </div>
  <div class="dr-like-title dr-font">
    <div class="dr dr-font">DR</div> Computers
  </div>
  <div class="dr-computers-paragraph">Los alumnos de <div class="dr dr-small dr-font">DR</div>
    <div class="computer computer-small dr-font"> Computers</div> tienen la posibilidad de hacer el curso acorde a sus
    necesidades.<br><br>Disponemos de cursos que enseñan a utilizar el manejo de computadoras y programas que están
    destinados a personas sin conocimientos, comenzando desde las primeras teclas hasta dominar los Soft más
    utilizados.<br><br>Para los alumnos que ya tienen el conocimiento de los programas básicos, pueden elegir el
    curso donde se dicta específicamente el programa adecuado a sus necesidades.<br><br>Todos los cursos de <div
      class="dr dr-small dr-font">DR</div>
    <div class="computer computer-small dr-font"> Computers</div> tienen una corta duración, de esa manera el alumno
    obtiene el
    conocimiento necesario para el manejo del programa estudiado, obteniendo su primer titulo del curso
    realizado.<br><br>Los programas muy extensos tienen un segundo nivel para aquellos que deseen un mejor
    perfeccionamiento en él y de esa manera obtener un segundo titulo.<br><br>
  </div>
  <div class="pbkeypad-container">
    <app-push-button
      *ngFor="let curso of cursosAdultos"
      [curso]="curso"
      (cursoChecked)="addToCheckedList($event)"
      [isChecked]="checkedAll"
    ></app-push-button>
  </div>
</app-layout-big-card>