
/*.button {
    border-radius: 52px;
    box-shadow: 4px 6px #999;
    width: 100%;
    padding: 5px 29px;
    .btn-text {
        max-width: max-content;
        display: inline-flex;
        vertical-align: top;
        margin-right: 8px;
        margin-left: 3px;
    }
}*/