.banner-slides {
    margin-bottom: 20px;

    .swiper-card {
        background-color: #ffffff;
        color: #000000;
        border-radius: 16px;
        padding: 20px 0;
        text-align: center;

        .swiper-img {
            width: 100px;
        }

        .swiper-label {
            font-weight: bold;
        }
    }
}